<div class="h-[100vh]">
  <mat-sidenav-container colo class="h-full">
    <mat-sidenav mode="side" opened class="app-sidenav">
      <div class="h-full w-full p-2 flex-col flex justify-between">
        <div>
          <a routerLink="/dashboard" class="text-3xl block w-full p-2"> Dashboard </a>
          <div>
            <mat-nav-list class="[&>*]:text-lg [&_a]:flex [&_a]:w-full [&_a]:h-full">
              <mat-list-item>
                <mat-icon matListItemIcon svgIcon="dashboard:home"></mat-icon>
                <a routerLink="/dashboard/ribon-color" matListItemTitle> Ribon colors </a>
              </mat-list-item>
              <mat-list-item>
                <mat-icon matListItemIcon svgIcon="dashboard:home"></mat-icon>
                <a routerLink="/dashboard/ribon-color-set/" matListItemTitle> Ribon colors sets </a>
              </mat-list-item>
              <mat-list-item>
                <mat-icon matListItemIcon svgIcon="dashboard:home"></mat-icon>
                <a routerLink="/dashboard/products/" matListItemTitle> Products </a>
              </mat-list-item>
            </mat-nav-list>
          </div>
        </div>
        <div class="h-[64px] w-full flex justify-center pt-3">
          <button matButton="elevated" class="w-full">Log out</button>
        </div>
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <div>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
