@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.list-overrides((
    list-item-label-text-color: white,
    list-item-disabled-label-text-color: white,
    list-item-hover-label-text-color:white,
    list-item-hover-state-layer-color:white,
    list-item-container-shape:0,
    list-item-hover-state-layer-opacity:0.2
  ));
}