@use '@angular/material' as mat;
@use 'sass:map';
@use './theme/theme-colors' as theme;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.sidenav-overrides((
    container-text-color: white,
    container-shape: 0,
    container-elevation-shadow: 200px,
    container-width: 300px,
    container-background-color: map.get(theme.$primary-palette, 25)
  ));
}