@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
:root {
  @include mat.sidenav-overrides((
    container-background-color: var(--primary-color),
    container-text-color: white,
    container-shape: 0,
    container-elevation-shadow: 200px,
    container-width: 200px
  ));
}